html, body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    max-width: 100%;
    background-color: #F2EDE3;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px;
    margin-top: 40px;
    gap: 50px;
}


.intro{
    text-align: center;
}

.museum-container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: stretch;
    box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.4);
}

.card-img-container{
    flex: 1;
    min-width: 0;
    overflow: hidden;
}

.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card-content-container{
    padding: 40px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 40px;
    justify-content: center;
}

.read-btn{
    background-color: #457E9C;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    max-width: 150px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.51);
}
