p {
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
}

h1 {
    font-family: "Cormorant Garamond", serif;
    font-size: 70px;
    color: #3A2A23;
    text-align: left;
    margin: 0;
}

h2 {
    font-family: "Cormorant Garamond", serif;
    font-size: 30px;
    color: black;
    margin: 0;
}



/* HEADER */

.hero {
    position: relative;   /* enables stacking elements */
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.hero-subpage {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: top;
    z-index: 1;
}

.hero-headline {
    position: relative;   /* keeps it above background image */
    z-index: 2;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-headline h1 {
    text-align: center;
}

.hero-headline-subpage {
    position: relative;
    z-index: 2;
}

.hero-headline-suppage h1 {
    text-align: center;
    margin: 0;
}

.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 2;
    padding: 40px;
}

.booking-box {
    display: flex;
    flex-direction: column;
    align-items: left;
    z-index: 2;
    background-color: white;
    padding: 30px;
    gap: 20px;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.51);
    border-radius: 12px;
}

.booking-box-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 5px;
}

.booking-box-content p {
    font-size: 16px;
}

.icons {
    width: 70px;
    object-fit: cover;
}
.book-btn {
    color: white;
    background-color: #457E9C;
    text-decoration: none;
    font-size: 16px;
    border: none;
    padding: 12px 20px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.51);
    text-align: center;
}

/* HAMBURGER MENU */

.header-menu {
    width: 100%;
    height: 70px; 
    display: flex;
    align-items: center;
    justify-content: right;
}

.header-menu .text-wrapper {
    font-weight: 700;
    font-size: 48px; 
    color: black;
}

.menu-btn {
    position: fixed;
    top: 40px;
    right: 40px;
    width: 34px; 
    height: 34px;
    cursor: pointer;
    z-index: 3;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -100%; 
    width: 70%;
    max-width: 400px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
    color: black;
    padding: 60px 20px 40px 20px;
    z-index: 1000;
    overflow-y: auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin: 20px 0;
}

.sidebar a,
.sidebar-link {
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid black;
    width: 100%;
}

.sidebar a.active,
.sidebar-link.active {
    color: #457E9C;
}

.sidebar.active {
    right: 0;
}

.close-btn {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
}

.close-btn svg {
    width: 34px;
    height: 34px;
}

/* FOOTER */

.footer {
    display: flex;
    background: white;
    border-top: solid 1px #457E9C;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.12);
}

.footer-left {
    position: relative;
    width: 30%;
    min-width: 280px;
    color: white;
    display: flex;
    align-items: center;
    padding: 20px 40px;
}

/* blue polygon background */
.footer-left svg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    fill: #4f7f9a;
    z-index: 0;
}

.footer-left h2 {
    z-index: 1;
    color: white;
    margin: 0;
    font-size: 20px;
}

.footer-right p {
    font-size: 16px;
    margin: 0;
}

.footer-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 40px;
    padding: 20px 40px;
}

.review-btn {
    background: #F2EDE3;
    border: none;
    color: black;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.51);
}