body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;
    gap: 40px;

}

p {
    font-size: 20px;
    line-height: 1;
}

h1 {
    font-family: "Cormorant Garamond", serif;
    font-size: 70px;
}



.intro{
    text-align: center;
}

.museum-container{
    max-width: ;
}

.card-img-container{
    max-width: 100vw;

}

.card-content-container{

}

.read-btn{

}

.hero {
    position: relative;   /* enables stacking elements */
    width: 100vw;
    height: 80vh;
    overflow: hidden;
}

.hero-content {
    position: relative;   /* keeps it above background image */
    z-index: 2;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.hero-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: top;
    z-index: 1;
}

.header-menu {
    width: 100%;
    height: 70px; 
    display: flex;
    align-items: center;
    justify-content: right;
}

.header-menu .text-wrapper {
    font-weight: 700;
    font-size: 48px; 
    color: black;
}

.menu-btn {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 34px; 
    height: 34px;
    cursor: pointer;
    z-index: 2;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -100%; 
    width: 70%;
    max-width: 400px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
    color: black;
    padding: 60px 20px 40px 20px;
    z-index: 1000;
    overflow-y: auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin: 20px 0;
}

.sidebar a,
.sidebar-link {
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid black;
    width: 100%;
}

.sidebar a.active,
.sidebar-link.active {
    color: #457E9C;
}

.sidebar.active {
    right: 0;
}

.close-btn {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
}

.close-btn svg {
    width: 34px;
    height: 34px;
}