html, body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    max-width: 100%;
    background-color: #F2EDE3;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px;
    margin-top: 40px;
    gap: 40px;

}

p {
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
}

h1 {
    font-family: "Cormorant Garamond", serif;
    font-size: 70px;
    color: #3A2A23;
}

h2 {
    font-family: "Cormorant Garamond", serif;
    font-size: 30px;
    color: black;
    margin: 0;
}

.intro{
    text-align: center;
}

.museum-container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: stretch;
    box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.4);
}

.card-img-container{
    flex: 1;
    min-width: 0;
    overflow: hidden;
}

.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card-content-container{
    padding: 40px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 40px;
    justify-content: center;
    cursor: pointer;
}

.read-btn{
    background-color: #457E9C;
    color: white;
    font-size: 20px;
    border: none;
    padding: 10px;
    width: 30%;
    border-radius: 12px;
    box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.4);
    cursor: pointer;
}

.hero {
    position: relative;   /* enables stacking elements */
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.hero-content {
    position: relative;   /* keeps it above background image */
    z-index: 2;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.hero-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: top;
    z-index: 1;
}

.header-menu {
    width: 100%;
    height: 70px; 
    display: flex;
    align-items: center;
    justify-content: right;
}

.header-menu .text-wrapper {
    font-weight: 700;
    font-size: 48px; 
    color: black;
}

.menu-btn {
    position: fixed;
    top: 40px;
    right: 40px;
    width: 34px; 
    height: 34px;
    cursor: pointer;
    z-index: 3;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -100%; 
    width: 70%;
    max-width: 400px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
    color: black;
    padding: 60px 20px 40px 20px;
    z-index: 1000;
    overflow-y: auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin: 20px 0;
}

.sidebar a,
.sidebar-link {
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid black;
    width: 100%;
}

.sidebar a.active,
.sidebar-link.active {
    color: #457E9C;
}

.sidebar.active {
    right: 0;
}

.close-btn {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
}

.close-btn svg {
    width: 34px;
    height: 34px;
}