/* SUBPAGES */
html, body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  max-width: 100%;
  background-color: white;
  }

main {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 50px;
  padding-bottom: 80px;
}

.museum-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;           /* centers the card */
  background-color: white;
  box-sizing: border-box;    /* include padding inside width */
  justify-content: space-between; /* spreads children evenly */
  align-items: center;
}

.highlight-card {
  display: flex;
  max-width: 1280px;
  background-color: #F2EDE3;
  justify-content: space-between;
  margin: auto;
}

.highlight-background {
  background-color: #F2EDE3;
  display: flex;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.card-text-container,
.card-img-container {
  flex: 1 1 0;     /* forces equal width */
  min-width: 300px;   /* prevents overflow issues */
  box-sizing: border-box;
  padding: 40px;
}

.card-text-container{
  padding: 40px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  gap: 40px;
  justify-content: center;
  min-width: 0;
}

.card-img-container {
  margin: auto;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.read-btn{
    background-color: #457E9C;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    max-width: 150px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.51);
}

.reviews-container {
  flex: 1 1 0;
  min-width: 0;
  padding: 40px;
  justify-content: center;
}
.reviews-container-inner{
  padding: 40px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 40px;
  border: solid 1px black;
  border-radius: 12px;
}

.map-wrapper {
  flex: 1 1 0;
  height: 400px;
  min-width: 0;
  padding: 40px;
}

.map-wrapper iframe {
  width: 100%;
  height: 100%;
  border: 0;
}


/* Slideshow container */

.slideshow-container {
  flex: 1 1 0;     /* forces equal width */
  min-width: 0;   /* prevents overflow issues */
  position: relative;
  margin: auto;
  max-height: 350px;
  overflow: hidden;
  padding: 40px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
  height: 100%;
  object-fit: cover;  /* fills container, crops if needed */
  display: block;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 40px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media (max-width: 900px) {
  .museum-card {
    flex-direction: column;
  }
}